#ribbon-ui
{
    color:white;
    padding:5px;
}

#feedback 
{
    line-height:30px;
    background-color: #eaedf1;
    height:300px;
    width:30%;
    float:right;
}

#container 
{
    width:70%;
    float:left;
    background-color: #eaedf1;
}


#footer 
{
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}

#fback1,#fback2,#fback3,#fback4,#fback5
{
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

#tab1, #tab2, #tab3, #tab4, #tab5 
{
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
