#ribbon-ui
{
    color:white;
    padding:5px;
}


#container-parent
{
    height: 400px;
    width: 100%;
    float:left;
    background-color: #00FF00
}


#feedback 
{
    height: 100%;
    width:30%;
    float:right;
    background-color: #eaedf1;

}

#container 
{
    height: 100%;
    width:70%;
    float:right;
    background-color: #eaedf1;
}


#footer 
{
    background-color:black;
    color:white;
    clear:both;
    float: left;
    position: relative;
    width: 100%;
    text-align:center;
     	 
}

#fback1,#fback2,#fback3,#fback4,#fback5
{
    visibility: collapse;
    width: 100%;
    height: 100%;
    position: relative;
 
}

#tab1, #tab2, #tab3, #tab4, #tab5 
{
    visibility: collapse;
    width: 100%;
    height: 100%;
    position: relative;
}
